body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: rgb(145, 207, 207);
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h2 {
    color: #333;
}

button {
    background-color: rgb(145, 207, 207);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(145, 207, 207);
}
